body{
	margin: 0;
	color: #000;
  background-image: url(../images/bg-body.png);
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}
@font-face {
    font-family: pattaya;
    src: url(../fontawesome/webfonts/Pattaya-Regular.ttf);
}
h1,h2,h3 {
  font-family: pattaya;
}
a:hover {
  text-decoration: none;
}
.container-fluid {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0;
}
.header {
  background: #1c011f;
}
.logo {
  z-index: 99;
}
.under-header {
  position: absolute;
  height: 15px;
  width: 100%;
  background: url(../images/bg-header2.png);
  z-index: 98;
}
.header-main .logo {
  position: absolute;
}
.nav-link:hover {
   color: #f4ba42
}
.navbar ul li {
  float: none;
}
.navbar ul li a {
  font-family: pattaya;
  color: #fff;
  padding: 10px 60px;
}
.navbar ul li{
  padding-right: 30px;
}
.sub-menu {
  background: none;
  border: none;
}
.dropdown-item {
  border-radius: 30px;
  border-bottom: 2px solid #f4ba42;
  background: #1c011f;
}
.slider-main {
  margin: 0 !important;
}
/*-----SLIDER-----*/
.row-contact {
  text-align: center;
  background: #1c011f;
  border-top: 2px solid #f4ba42;
  padding: 25px 0;
  margin: 0;
}
.row-contact .nav-contact li {
  display: inline-block;
  padding: 0 10px 0 10px;
}
.row-contact .nav-contact li a {
  text-decoration: none;
  color: #f4ba42;
  font-size: 18px;
  line-height: 18px;
}
.row-contact .nav-contact li a:hover {
  color: #fff;
}
.row-contact .nav-contact li a i {
  border-radius: 50%;
  border: 1px solid #f4ba42;
}
.nav-contact {
  margin: 0 !important;
}
/*-----NAV-CONTACT-----*/

/*-----PRODUCT-----*/
.heading {
  text-align: center;
  width: 100%;
  padding: 30px;
}
.title-head a {
  color: #1c011f;
}
.title-head a:hover {
  text-decoration: none;
  color: #f4ba42;
}
.item {
  margin-bottom: 40px;
}
.product-box {
  text-align: center;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  overflow: visible;
  padding-bottom: 20px;
  background: #fff;
}
.product-box:hover {
  border: 1px dotted #f4ba42;
}
.product-img {
  padding: 7px;
}
.product-info {
  padding: 10px 0 10px 0;
}
.product-name a {
  color: #1c011f;
  font-family: pattaya;
  font-size: 16px;
}
.product-name a:hover {
  color: #f4ba42;
}
.price-box {
  padding:10px 0 10px 0; 
}
.product-price {
  display: inline-block;
}
.product-price-old {
  display: inline-block;
  margin-left: 10px;
}
.edit-product-price {
  font-size: 14px;
  font-weight: normal;
  
}
.edit-product-old {
  font-size: 12px;
  text-decoration: line-through;
  color: #adadad;

}
.icon-heart a {
  color: #f4ba42;
}
.show-product-icon {
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  padding: ;
  color: #333;
  background: #fff; 
}
.show-product-icon:hover {
  background: #1c011f;
  color: #fff;
}
.add-to-cart {
  position: absolute;
  left: 0;
  right: 0;
}
.addcart {
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 25px;
  color: #f4ba42;
  text-transform: uppercase;
  font-weight: 600;

}
.addcart:hover {
  color: #fff;
  background:  #f4ba42;
  border: 1px solid #f4ba42;
  transition: 0.8s;
}
/*-----END-PRODUCT-----*/

/*-----COOKIES-SECTION-----*/
.main-cookies {
  background: #1c011f;
  color: #fff;
}
.main-cookies a {
  color: #fff;
}
.main-cookies {
  /*width: 1349px;*/
  overflow: hidden;
  padding: 30px 15px;
}
.section-category-img {
  width: 20%;
  overflow: hidden;
  border-radius: 50px;
  float: left;
}
.img-cookies {
  width: 228px;
}
.section-category-info{
  display: inline-block;
  width: 80%;
  padding: 15px 10px;
}
.btn-cookies {
  float: left;
  width: 30%;
  display: inline-block;
  position: relative;
  margin: 25px 0 0 15px;
}
.btn-cookies a {
  padding: 0 20px 0;
  position: absolute;
  background: none;
  border-radius: 45px;
  border: 2px solid #f4ba42;
  font-family: pattaya;
  line-height: 30px;
  display: inline-block;
  font-size: 20px;
}
.btn-cookies a:hover {
  background: #f4ba42;
}
.section-category-info h3 a:hover {
  color: #f4ba42;
}
.owl-dots {
  display: none !important;
}
.product-box-cookie {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 70%;
    border: 2px solid #fff;
    overflow: hidden;
}
.product-box-cookie:hover {
  border: 1px solid #f4ba42;
}
.index-carou {
  width: 60% !important;
  display: inline-block !important;
  float: right;
}

.owl-prev span {
  font-size: 40px;
}
.owl-next span {
  font-size: 40px;
}
/*.owl-prev,.owl-next {
  background: none !important;
}
.owl-next:focus {
  background: none !important;
}*/
/*-----END-COOKIES-SECTION-----*/
/*-----BANNER-----*/
.banner {
  text-align: center;
  padding-top: 30px;
}
.banner h3 {
  color: #f4ba42;
}
.banner p {
  color: #ebebeb;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
.bg-banner {
  background-image: url(../images/sec_banner.png);
  padding: 30px 0;
  border: 2px solid #f4ba42;
  border-radius: 150px;
  position: relative;
  overflow: hidden;
}
.bg-opacity {
    background: #1c011f;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
}

/*-----END-BANNER-----*/

/*-----BLOG-----*/
.blogs-content {
  margin-bottom: 40px;
}
.title-blogs {
  text-align: center;
  padding: 30px;
}
.blog-item-thumnail img{
  width: 100%;
}
.blog-text h3 {
  font-family: arial;
  font-size: 15px;
  font-weight: 800;
  line-height: 20px;
  white-space: nowrap;
  padding: 10px 0px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #1c011f;
 
}
.blog-text h3 a {
   color: #1c011f;
}
.blog-text h3 a:hover {
  color: #f4ba42;
}
.blog-text p {
  font-size: 14px;
  color: #1c011f;
}
.blog-text {
  padding: 7px;
}
.blog-item-frame {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}
.blog-item-frame:hover {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
              0 5px 15px 0 rgba(0,0,0,0.08);
}
/*-----END-BLOG-----*/

/*-----ABOUT-----*/
.about-section {
  text-align: center;
  padding-top: 30px;
}
.about-section h3 {
  font-size: 45px;
  color: #f4ba42;
  margin: 0;
}
.about-section p {
  font-size: 14px;
  color: #1c011f;
}
.about-bg {
  padding-top: 30px;
}
.about-bg img {
  width: 100%;
  border: 5px solid #f4ba42;
  outline: 3px solid #fadda2;

}
.about-bg img:hover {
  opacity: 0.8;
}
/*-----END-ABOUT-----*/
/*-----BANNER-FOOTER-----*/
.baner-footer {
    background: #1c011f;
    padding: 25px;
    border-top: 5px solid #f4ba42;
    margin-top: 30px;
    color: #fff;
}
.baner-footer h3 {
    font-size: 30px;
    color: #fff;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    font-family: 'Pattaya', sans-serif;
}
/*-----END-BANNER-FOOTER-----*/
/*-----FOOTER--------*/
footer {
  color: #fff;
  background: url(../images/bg-fot.jpg);
  text-align: center;
  background-size: cover;
  position: relative;

}
.bg-opacity-footer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1c011f;
  opacity: 0.7;

}
.main-footer h3 {
  font-size: 55px;
  padding: 20px;
}
.main-footer {
  padding-top: 50px;
  padding-bottom: 50px;
}
.main-footer a {
  color: #fff;
  font-size: 24px;
}
.main-footer p {
  font-size: 24px;
}
.main-footer a:hover {
  color: #f4ba42;
}
.bottom-footer {
  background: #1c011f;
  border-bottom: 5px solid #f4ba42;
  padding: 10px;
  position: relative;
}
.bottom-footer p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;

}
.show-fot {
  position: relative;
}
/*-----END-FOOTER--------*/